.wrapper {
  width: 100%;
  height: calc(100% - 44px);
}

.list {
  width: 100%;
}

.listWrapper {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  // background-color: #fff;
}
