.fllowUp {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  bottom: 0;
  height: 50px;
  width: 100%;

  & > a {
    height: 50px;
    line-height: 50px;
    border-radius: 0;
  }

  & > a:first-child {
    border-right: 1px solid #fff;
  }
}

.followUpModal {
  :global {
    .am-list-body {
      & > .am-list-item {
        .am-textarea-label {
          width: 3rem;
        }
      }

      .am-list-line {
        .am-list-content {
          flex-grow: 0;
          flex-basis: 6rem;
        }
        .am-list-extra {
          flex-grow: 1;
        }
      }
    }
  }
}
