.wrapper {
  width: 100%;
  height: calc(100% - 44px);
}

.list {
  width: 100%;
  height: 100%;
  :global {
    .am-pull-to-refresh.am-pull-to-refresh-down {
      height: 100%;
      .am-pull-to-refresh-content-wrapper {
        height: 100%;
        overflow: auto;
      }
    }
    .am-list-body {
      height: 100%;
    }
  }
}

.listWrapper {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
