.wrapper {
  width: 100%;
  height: calc(100% - 44px);
  :global{
    .am-tabs-default-bar-tab{
      padding: 0;
      height: 3rem;
    }
  }
}

.list {
  width: 100%;
  height: 100%;
  :global {
    .am-pull-to-refresh.am-pull-to-refresh-down {
      height: 100%;
      // .am-pull-to-refresh-content-wrapper {
      //   height: 100%;
      //   overflow: auto;
      // }
    }
    .am-list-body {
      height: 100%;
    }
    .listItemContent{
      font-size: 14px;
    }
  }
}

.listWrapper {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}



.tabItem{
  height: 100%;
  & > p {
    height: 50%;
    line-height: 1.5rem;
    // line-height: 30px;
    text-align: center;
  }
}